__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/
.DS_Store

# pyenv
.python-version

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/

/coverage.xml
/.coverage
